main {
  display: flex;
}

.form-section {
  width: calc(100vw - 496px);
  height: 100vh;
  background: #f9f8f7;
}

.reviews-section {
  width: 496px;
  height: 100vh;
  background: #f9f8f7;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.form-wrapper {
  padding: 30px 64px 10px 64px;
  margin: 100px auto;
  width: 552px;
  height: 832px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

input {
  height: 54px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: #fff;
  outline: none;
}

.date-cvv-wrapper {
  display: flex;
  justify-content: space-between;
}

.date-input {
  max-width: 282px;
  width: 100%;
}

.cvv-input {
  max-width: 120px;
  width: 100%;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-top: 33px;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
}

.checkbox-wrapper span {
  color: rgba(225, 48, 108, 0.8);
  text-decoration: underline;
}

.submit-btn {
  width: 370px;
  height: 64px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  border-radius: 32px;
  border: none;
  background: linear-gradient(
    270deg,
    #c23584 0%,
    #e2306c 24.48%,
    #f77736 83.85%,
    #fa963e 100%
  );
}

.submit-btn span {
  color: rgba(255, 255, 255, 0.6);
  margin-left: 5px;
  text-decoration: line-through;
}
